h1 {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 10px solid;
  padding: 20px;
  background: linear-gradient(270deg, red, orange, yellow, green, blue, indigo, violet);
  animation: rainbow 400ms linear infinite;
}
body {
  width: 100%;
  height: 100vh;
  color: white;
  background: linear-gradient(45deg, red, red, purple, blue, green, yellow, red, red);
  background-size: 400% 400%;
  position: relative;
  animation: gradient 2s linear infinite;
}

#error{
  width: 500px;  /* Cambia esto al ancho que quieras */
  height: 500px; /* Cambia esto a la altura que quieras */
  position: absolute;
  top: 50px;     /* Cambia esto a la distancia desde la parte superior de la página que quieras */
  left: 1300px;    /* Cambia esto a la distancia desde el lado izquierdo de la página que quieras */
}

@keyframes gradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

@keyframes rainbow {
  0% {border-color: red;}
  14% {border-color: orange;}
  28% {border-color: yellow;}
  42% {border-color: green;}
  57% {border-color: blue;}
  71% {border-color: indigo;}
  85% {border-color: violet;}
  100% {border-color: red;}
}

