body {  
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, red, red, purple, blue, green, yellow, red, red);
  background-size: 400% 400%;
  position: relative;
  animation: gradient 2s linear infinite;
  cursor: url("/sources/cursor.png"), auto;
}

h1 {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 10px solid;
  padding: 20px;
  background: linear-gradient(270deg, red, orange, yellow, green, blue, indigo, violet);
  animation: rainbow 400ms linear infinite;
}

#button{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  z-index: 1;
  font: bold 20px comic sans ms;
  font-size: 50px;
  padding: 15px 20px;
  margin: 10px;
  background: white;
  color: #ffffff;
  animation: color-change 2s infinite;
  border: 5px solid;
  border-radius: 14px;
}

.windows #error {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 350px;
  height: 350px;
}

.windows #virus_detected {
  position: absolute;
  top: 15%;
  left: 80%;
  width: 350px;
  height: 350px;
}

.windows #complete{
  position: absolute;
  top: 10%;
  left: 6%;
  width: 400px;
  height: 300px;
}

.download #downloading{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 300px;
}

.publi {
  position: relative;
  width: 400px;
  height: 300px;
}

.publi img {
  width: 100%;
  height: 100%;
}

.publi-button {
  background-color: rgb(218, 213, 176);
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
}

.publi-button:hover {
  background-color: rgb(170, 163, 116);
  transition: all 0.3s ease;
}

#trampa {
  width: 800px; 
  height: 600px; 
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Función animación de fondo degradado*/
@keyframes gradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

/*Función cambio colores*/
@keyframes color-change {
  0% { color: red; }
  20% { color: orange; }
  40% { color: yellow; }
  60% { color: green; }
  80% { color: blue; }
  100% { color: violet; }
}

/*Función animación de arcoiris para el marco de la cita*/
@keyframes rainbow {
  0% {border-color: red;}
  14% {border-color: orange;}
  28% {border-color: yellow;}
  42% {border-color: green;}
  57% {border-color: blue;}
  71% {border-color: indigo;}
  85% {border-color: violet;}
  100% {border-color: red;}
}